<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <div style="background: #efefef; padding: 50px; margin: 20px">
        <h3 style="font-weight: bold;">SESSION</h3>
        <p th:text="'Id : ' + ${session.loginId}"></p>
        <p th:text="'Email : ' + ${session.loginEmail}"></p>
        <p th:text="'Password : ' + ${session.loginPassword}"></p>
        <p th:text="'Name : ' + ${session.loginName}"></p>
        <button>
            <a href="/member/update" style="text-decoration-line: none;">내 정보 수정</a>
        </button>
        <button>
            <a href="/member/logout" style="text-decoration-line: none;">로그아웃</a>
        </button>
        <button>
            <a href="/" style="text-decoration-line: none;">index</a>
        </button>
    </div>
</body>
</html>